/*The section applied to the whole page unless otherwise modified. Using the background blends to change the opacity since this is the only way I
could get it to work.*/
body{
    position: static;
    background-image: url("FemInspire BG WIP.png");
    /*background-color: #0000007f;
    background-blend-mode: saturation;*/
    background-position: top;

    font-family: 'Times New Roman', Times, serif;
}

/*The setting for the h1 text */
h1{
  text-align: center;  
  color: #623aff;
}

/*The setting for the h2 text */
h2{
    color: #ff0000a2;
}

/*The setting for the h3 text */
h3{
    color: #78baca;
}

/*The setting for the p text (aka literally everything that isn't italicized or a header)*/
p{
    color: #ffffffc2;
    font-size: larger;
}

/*The setting for the i text (aka everything italicized)*/
 i{
    color: #0a696f;
    font-size: large;
    font-weight: 600;
 }  
  /*code adapted from https://www.w3schools.com/css/css_navbar_horizontal.asp 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: SlateBlue
  }
  
  li {
    float: left;
  }
  
 li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: DarkSlateBlue;
  } */

  /* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}