/*The section applied to the whole page unless otherwise modified. I used ChatGPT to help debug: https://chat.openai.com/share/696de629-f137-4e1c-9566-a5787dcedb5b*/
body{
    position: static;
    background-image: url("FemInspireBGWIP.png");
    /*background-color: #0000007f;
    background-blend-mode: saturation;*/
    background-position: top;

    font-family: 'Times New Roman', Times, serif;
}

/*The setting for the h1 text */
h1{
  text-align: center;  
  color: slateblue;
}

/*The setting for the h2 text */
h2{
    color: darkturquoise;
}

/*The setting for the h3 text */
h3{
    color: mediumpurple;
}

/*The setting for the h3 text */
h4{
  color: grey;
}

/*The setting for the p text (aka literally everything that isn't italicized or a header)*/
p{
    color: whitesmoke;
    text-align: center;
    font-size: normal;
}

/*The setting for the i text (aka everything italicized)*/
 i{
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
 }  
 body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/*header that appears on the top of the page that is slightly grey and transparent*/
.header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  text-align: center;
}

/*Navbar major color*/
#navbar {
  overflow: hidden;
  background-color: SlateBlue;
}

/*Navbar major color*/
#navbar a {
  float: left;
  display: block;
  color: whitesmoke;
  background-color: slateblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Navbar hover color*/
#navbar a:hover {
  background-color: rgb(0, 234, 238);
  color: white;
}

/*Navbar active page color*/
#navbar a.active {
  background-color: darkturquoise;
  color: white;
}

/*space on the navbar*/
.content {
  padding: 16px;
}

/* Making the navbr sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Spacing the navbar and content */
.sticky + .content {
  padding-top: 60px;
}

/*Learned how to do this here: https://www.w3schools.com/css/*/
div.relative {
  margin-left: 40%;
  margin-right: 50%;
  }