/*The section applied to the whole page unless otherwise modified. Using the background blends to change the opacity since this is the only way I
could get it to work.*/
body{
    position: static;
    background-image: url("FemInspire BG WIP.png");
    /*background-color: #0000007f;
    background-blend-mode: saturation;*/
    background-position: top;

    font-family: 'Times New Roman', Times, serif;
}

/*The setting for the h1 text */
h1{
  text-align: center;  
  color: slateblue;
}

/*The setting for the h2 text */
h2{
    color: blue;
}

/*The setting for the h3 text */
h3{
    color: green;
}

/*The setting for the p text (aka literally everything that isn't italicized or a header)*/
p{
    color: white;
    text-align: center;
    font-size: normal;
}

/*The setting for the i text (aka everything italicized)*/
 i{
    color: darkslateblue;
    font-size: large;
    font-weight: 600;
 }  
 body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: SlateBlue;
}

#navbar a {
  float: left;
  display: block;
  background-color: DarkSlateBlue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: DarkSlateBlue;
  color: white;
}

#navbar a.active {
  background-color: #0497aa;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}